<mat-toolbar color="primary">
    <span>Le Restaurant de la Guinguette</span>
</mat-toolbar>

<div class="restaurant-info">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Ambiance de la Guinguette</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Restauration simple et efficace: vous êtes dans une guinguette !!</p>
            <p>Pas de chichi, ambiance détente, on se prélasse à l’ombre du châtaignier.</p>
            <p>Nous travaillons selon les disponibilités du moment avec des produits frais du coin.</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Galerie de Photos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="photo-gallery">
                <img src="path_to_photo1.jpg" alt="Photo du restaurant">
                <img src="path_to_photo2.jpg" alt="Photo du restaurant">
                <!-- Ajouter plus d'images selon les besoins -->
            </div>
        </mat-card-content>
    </mat-card>
</div>