.restaurant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 90vh;
}

mat-toolbar{
  justify-content: space-between;
  height: 10vh;
}


mat-card {
  margin: 10px;
  width: 90%;
}

.photo-gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.photo-gallery img:hover {
  transform: scale(1.4); /* agrandir l'image au survol */
}

.photo-gallery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
  align-items: center;
}
@media screen and (max-width: 430px) {
  span {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .photo-gallery {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 550px) {
  .photo-gallery {
    grid-template-columns: 100%;
  }
}