<mat-toolbar color="primary">
    <span>Carte de Manjocarn</span>
    <button mat-icon-button mat-dialog-close aria-label="Close dialog">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<div class="menu-container">
    <ng-container *ngFor="let type of menuTypes">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ type }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="element" *ngFor="let item of filteredMenu(type)">
                    <h3>{{ item.name }} - {{ item.price | currency:'EUR' }}</h3>
                    <p>{{ item.description }}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
    <div class="espace"></div>
</div>