/* Style de la barre d'outils */
mat-toolbar {
  /* Couleur bleue primaire */
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* Conteneur principal pour les cartes */
.menu-container {
  max-height: 80vh;
  width: 96%;
  overflow-y: auto;
  margin: auto;
  background: white;
  border-radius: 8px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Style des cartes */
mat-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
mat-card:hover {
  box-shadow: 1px 1px 8px 1px #000000;
}

mat-card-header {
  background-color: #eee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 15px;
}

mat-card-title {
  font-size: 18px;
  color: #333;
}

mat-card-content {
  padding: 15px;
  color: #666;
}

/* Style de la liste */
mat-list-item {
  margin-bottom: 12px;
}

h3 {
  margin: 8px 0 5px 0;
  color: #333;
}

p {
  margin: 0;
  font-size: 14px;
}

/* Diviseur entre les éléments de la liste */
mat-divider {
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 700px) {
  .menu-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
  }
  h3 {
    font-size: 13px;
  }
  mat-card-content {
    padding: 0px;
  }
  p {
    font-size: 11px;
  }
}
