.activities-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
  padding: 20px;
}

.activity-card {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-toolbar{
  justify-content: space-between;
}

mat-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

mat-card:hover {
  transform: scale(1.05);
}

.activity-icon {
  margin: auto;
  display: block;
}

mat-card-title {
  text-align: center;
  color: #3f51b5; /* Indigo */
}

mat-card-content {
  font-size: 14px;
  color: #757575; /* Grey */
  text-align: center;
}

@media screen and (max-width: 700px) {
  .activities-grid {
    grid-template-columns: 50% 50% ;
  }
}

@media screen and (max-width: 426px) {
  .activities-grid {
    grid-template-columns: 100% ;
  }
}
