/* events.component.css */

.event-card {
  width: 400px; /* Largeur fixe pour la carte d'événements */
  margin: 20px auto; /* Centrer la carte horizontalement et donner de l'espace autour */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card-title {
  color: #673ab7; /* Couleur profonde pour le titre */
}

.event-info {
  padding: 10px; /* Ajouter de l'espace à l'intérieur de chaque élément de liste */
}

h3 {
  color: #3f51b5; /* Indigo pour les titres d'événements */
  margin: 0; /* Réinitialiser les marges par défaut */
}

p {
  color: #757575; /* Gris pour les descriptions */
  margin: 0; /* Réinitialiser les marges par défaut */
}

mat-list-item {
  border-bottom: 1px solid #eee; /* Ligne de séparation subtile entre les éléments */
}

mat-list-item:last-child {
  border-bottom: none; /* Supprimer la bordure de fond pour le dernier élément */
}
