<mat-toolbar color="primary">
    <span>Événements à la Guinguette</span>
</mat-toolbar>

<mat-card class="event-card">
    <mat-card-header>
        <mat-card-title>Prochains Événements</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <ng-container *ngFor="let event of events">
                <mat-list-item>
                    <div class="event-info">
                        <h3>{{ event.date }}</h3>
                        <p>{{ event.description }}</p>
                    </div>
                </mat-list-item>
            </ng-container>
        </mat-list>
    </mat-card-content>
</mat-card>