<mat-toolbar color="primary">
    <span>Réserver et payer</span>
</mat-toolbar>
<mat-card>
    <mat-card-header>
        <mat-card-title>Réserver votre table</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Pour réserver votre table chez nous, veuillez nous appeler ou nous envoyer un email avec vos informations de
            réservation :</p>
        <ul>
            <li>Téléphone : +33 5 63 68 25 85</li>
            <li>Email : reservation manjocarn.example.com</li>
        </ul>
        <h2>Moyens de paiement acceptés</h2>
        <p>Nous acceptons les paiements par chèque et en espèces directement à notre établissement.</p>
        <ul>
            <li>Chèque : À l'ordre de "Manjocarn"</li>
            <li>Espèces : Payables à la caisse</li>
        </ul>
    </mat-card-content>
</mat-card>