<div class="button-container" #buttonContainer>
    <img src="/assets/logo.png" alt="Manjocarn">
    <a (click)="openManjocarnDialog()">
        <h1>Manjocarn</h1>
    </a>
    <button mat-flat-button class="button" (click)="openManjocarnDialog()">Manjocarn</button>
    <button mat-flat-button class="button" (click)="openRestaurantDialog()">Restaurant</button>
    <button mat-flat-button class="button" (click)="openFournisseurDialog()">Fournisseur</button>
    <button mat-flat-button class="button" (click)="openEventDialog()">Evenement</button>
    <button mat-flat-button class="button" (click)="openCarteDialog()">Carte</button>
    <button mat-flat-button class="button" (click)="openAvisDialog()">Avis</button>
    <button mat-flat-button class="button" (click)="openPayerDialog()">Réserver et payer</button>
    <button mat-flat-button class="button" (click)="openActiviteDialog()">Activitées</button>
</div>