<div class="frame board">
    <div class="content-container">
        <div class="main-content">
            <div class="paragraph-set manjocarn">
                <p class="paragraph"><span class="title">Manjocarn</span></p>
                <p class="paragraph">Site en préparation ...</p>
            </div>
        </div>
        <div class="bottom-content">
            <div class="rectangle-container">
                <div class="rectangle">
                    <img src="/assets/icon/1.png" alt="Manjocarn" class="separate">
                    <div class="group menu">
                        <div class="group item" (click)="openActiviteDialog()">
                            <img src="/assets/icon/3.png" alt="Manjocarn" class="icon">
                            <div class="paragraph-set">
                                <p class="paragraph"><span class="text-node menu-title">Activités</span></p>
                            </div>
                        </div>
                        <div class="group item" (click)="openRestaurantDialog()">
                        <img src="/assets/icon/5.png" alt="Manjocarn" class="icon">
                            <div class="paragraph-set">
                                <p class="paragraph"><span class="text-node menu-title">Le restaurant</span></p>
                            </div>
                        </div>
                        <div class="group item" (click)="openCarteDialog()">
                            <img src="/assets/icon/12.png" alt="Manjocarn" class="icon">
                            <div class="paragraph-set">
                                <p class="paragraph"><span class="text-node menu-title">La carte</span></p>
                            </div>
                        </div>
                        <div class="group item" (click)="openPayerDialog()">
                            <img src="/assets/icon/6.png" alt="Manjocarn" class="icon">
                            <div class="paragraph-set">
                                <p class="paragraph"><span class="text-node menu-title">Payer et réserver</span>
                                </p>
                            </div>
                        </div>
                        <div class="group item" (click)="openFournisseurDialog()">
                            <img src="/assets/icon/11.png" alt="Manjocarn" class="icon">
                            <div class="paragraph-set">
                                <p class="paragraph"><span class="text-node menu-title">Fournisseur</span></p>
                            </div>
                        </div>
                        <div class="group item" (click)="openEventDialog()">
                            <img src="/assets/icon/9.png" alt="Manjocarn" class="icon">
                            <div class="paragraph-set">
                                <p class="paragraph"><span class="text-node menu-title">Événements</span></p>
                            </div>
                        </div>
                        <div class="group item" (click)="openAvisDialog()">
                            <img src="/assets/icon/4.png" alt="Manjocarn" class="icon">
                            <div class="paragraph-set">
                                <p class="paragraph"><span class="text-node menu-title">Avis</span></p>
                            </div>
                        </div>
                        <div class="group item" (click)="openManjocarnDialog()">
                            <img src="/assets/icon/8.png" alt="Manjocarn" class="icon">
                            <div class="paragraph-set">
                                <p class="paragraph"><span class="text-node menu-title">Manjocarn</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>