/* Styles pour les éléments de texte */
.text-node {
  background-clip: text !important;
  -webkit-background-clip: text !important;
}

/* Styles pour le conteneur principal */
.board {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
}

/* Conteneur de contenu */
.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Contenu principal */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
  text-align: center;
}

/* Contenu inférieur */
.bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  box-shadow: 0px 0px 17px 0px black;
}

/* Styles pour l'élément manjocarn */
.manjocarn {
  background-color: #fcf9ef;
  padding: 30px;
  border-radius: 5px;
  margin: 20px 0;
}

/* Conteneur du rectangle */
.rectangle-container {
  width: 100%;
  overflow: hidden; /* Cache le débordement */
}

/* Styles pour le rectangle */
.rectangle {
  width: 100%;
  height: 300px; /* Hauteur initiale */
  background: #fcf9ef9d;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: height 0.5s ease; /* Transition pour l'animation */
}

.rectangle:hover {
  height: 500px; /* Étend la hauteur du rectangle */
}

.rectangle:hover .icon {
  width: 120px;
  height: 120px;
}

.rectangle:hover .item {
  width: 13%;
}

.rectangle:hover .menu-title {
  font-size: 21px;
}

/* Styles pour l'image séparée */
.separate {
  width: 150px;
  margin-top: 0;
}

/* Styles pour l'ellipse */
.ellipse {
  width: 150px;
  height: 150px;
  transition: width 0.5s ease;
  background-image: url("/assets/logo.png");
  background-size: cover;
  background-position: center;
}

.ellipse:hover {
  width: 170px;
  height: 170px;
}

/* Description du lieu atypique */
.lieu-atypi {
  width: 15%;
  background-color: rgba(255, 255, 255, 0.171);
  backdrop-filter: blur(1px);
  border-radius: 10px;
}

.lieu-atypi .description {
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
}

/* Menu */
.menu {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 132px;
  padding: 10px;
}

/* Items du menu */
.item {
  padding: 20px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  transition: transform 0.4s;
  font-weight: 700;
  cursor: pointer;
}

.item:hover {
  box-shadow: 2px 2px 14px 0px #000000;
  transform: scale(1.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.item:hover .icon {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.item:active {
  transform: scale(0.95);
}

/* Icône */
.icon {
  width: 110px;
  height: 110px;
  transition: all 0.5s ease;
}

.icon:hover {
  filter: brightness(1.2);
}

/* Paragraphe */
.paragraph {
  text-align: center;
  font-family: "Playfair Display", serif;
}

.menu-title {
  font-size: 18px;
  color: #000000;
  transition: font-size 0.5s ease;
}

.title {
  color: rgb(0, 0, 0);
  font-size: 63px;
}

/* Média queries pour responsivité */
@media screen and (max-width: 920px), screen and (max-height: 800px) {
  /* Pas de styles spécifiques pour cette plage */
}

@media screen and (max-width: 1200px) {
  .item {
    padding: 0px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .menu {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .rectangle:hover .icon {
    width: 60px;
    height: 60px;
  }

  .rectangle:hover .item {
    width: 10%;
  }

  .rectangle:hover .menu-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 847px) {

  .rectangle {
    justify-content: start;
    align-items: center;
  }

  .rectangle:hover .item {
    width: 100%;
  }

  .item {
    width: 100%;
  }

  .menu {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media screen and (max-width: 450px) {
  .rectangle {
    height: 550px;
  }
    .icon {
    width: 40px;
    height: 40px;
  }

  .rectangle:hover .icon {
    width: 40px;
    height: 40px;
  }

  .rectangle:hover {
    height: 550px;
  }

  .rectangle:hover .item {
    width: 100%;
  }

  .menu {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-height: 700px) {
  
  .menu {
    grid-template-columns: 33% 33% 33%;
  }
}

@media screen and (max-height: 600px) {
  .icon {
    width: 40px;
    height: 40px;
  }

  .rectangle:hover {
    height: 550px;
  }

  .rectangle:hover .icon {
    width: 40px;
    height: 40px;
  }

  .rectangle:hover .menu-title {
    font-size: 15px;
  }

  .menu-title {
    font-size: 15px;
  }
}
@media screen and (max-height: 600px) {
  .icon {
    width: 30px;
    height: 30px;
  }

  .menu-title {
    font-size: 14px;
  }
}