<mat-toolbar color="primary">
    <span>Avis</span>
</mat-toolbar>
<mat-card>
    <mat-card-header>
        <mat-card-title>Avis des Clients</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card *ngFor="let avis of avisList" class="avis-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ avis.nom }}</mat-card-title>
                <mat-card-subtitle>{{ avis.date | date }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{ avis.commentaire }}</p>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
