:host {
    display: block;
    padding: 20px;
}

.avis-dialog {
    max-height: 600px;
    overflow-y: auto;
}

.avis-card {
    margin-top: 15px;
}

.example-header-image {
    background-size: cover;
}
