
.avis-dialog {
    max-height: 600px;
    overflow-y: auto;
}

mat-toolbar{
  justify-content: space-between;
}

.avis-card {
    margin-top: 15px;
}

.example-header-image {
    background-size: cover;
}
